body{
	background-color: #CCCCC4;
	background-size: 1600px;
	background-repeat: no-repeat;
}
.box1{
	position: absolute;
	font-size: 30px;
	background-color: #0C784E;
	width:300px;
	height:100px;
	left: 1100px;
	top: 50px;
	padding: 30px;
	border-radius: 50px;
	border-color: #BEFFF9;

}
.box2{
	position: absolute;
	font-size: 30px;
	background-color: #5D8F1C;
	width:300px;
	height:100px;
	left:900px;
	top: 260px;
	bottom: 50px;
	padding: 30px;
	border-radius: 50px;
	border-color: #CDDDFF;
}
.box3{
	position: absolute;
	font-size: 30px;
	background-color: #137C7D;
	width:300px;
	height:100px;
	left: 700px;
	bottom: 240px;
	padding: 30px;
	border-radius: 50px;
	border-color: #7DACFF;
}
.box4{
	position: absolute;
	font-size: 30px;
	background-color: #4F0070;
	width:300px;
	height:100px;
	margin: auto;
	left:500px;
	top: 690px;
	padding: 30px;
	border-radius: 50px;
	border-color: #DDD4FF;
}
.box5{
	position: absolute;
	top: 50px;
	left: 650px;
	width:300px;
	height:150px;
	border-radius: 50px;
	border-color: #BEFFF9;
	background-color: #0C784E;
	opacity: 0.5;
}
.box6{
	position: absolute;
	top: 260px;
	left: 450px;
	opacity: 0.5;
	width:300px;
	height:150px;
	border-radius: 50px;
	border-color: #CDDDFF;
	background-color: #5D8F1C;
}
.box7{
	position: absolute;
	top :470px;
	left: 250px;
	opacity: 0.5;
	background-color: #137C7D;
	width:300px;
	height:150px;
	border-radius: 50px;
	border-color: #7DACFF;
}
.box8{
	position: absolute;
	top: 690px;
	left: 70px;
	opacity: 0.5;
	width: 300px;
	height: 150px;
	border-radius: 50px;
	background-color: #4F0070;
	border-color: #DDD4FF;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,{
	z-index: 2;
}
.Tash{
	position: absolute;
	z-index: 0;
	bottom: 10px;
	top: 10px;
	left:10px;
	height: 850px;
	width: 1450px;
	border-radius: 50px;
}
